.journal-form {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.journal-form > * {
    background-color: #ccc;
}

.invalid {
    border: 1px solid red;
    background: rgb(68, 6, 6);
}
